@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor01: #183b59;
  --cor02: #608ba6;
  --cor03: #d9b23d;
  --cor04: #bf9039;
  --cor05: #bfbfbf;

  --fonte-padrao: "Roboto", sans-serif;
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
header {
  background-image: linear-gradient(to bottom, var(--cor02), var(--cor01));
  padding: 50px;
  text-align: center;
  color: var(--cor05);
  font-style: var(--fonte-padrao);
  font-weight: bold;
  font-size: 1.2em;
}
header > p {
  padding: 20px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.415);
}
header h1 {
  color: var(--cor03);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.415);
}
nav {
  background-color: var(--cor01);
  text-align: center;
  padding: 10px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.296);
}
nav > a {
  padding: 10px;
  color: var(--cor05);
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
}
nav > a:hover {
  color: var(--cor04);
}
div.frente {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../Imagens/frente.jpg);
  background-position: center center;
  background-size: cover;
  height: 700px;
  padding: 20px;
  background-attachment: fixed;
  margin-bottom: 80px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
}
div.frente > h1 {
  color: var(--cor03);
  font-size: 4em;
  text-align: left;
  line-height: 1em;
}
div.frente > p {
  color: white;
  font-size: 1.2em;
  padding: 10px;
}
div.frente a {
  background-color: var(--cor01);
  color: white;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  font-family: var(--fonte-padrao);
  transition-duration: 0.5s;
  font-size: 1.2em;
  border: 1px solid black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
}
div.frente a:hover {
  background-color: var(--cor02);
  color: var(--cor01);
}
div.destaque {
  padding: 20px;
}
div.conteudo {
  width: 500px;
  display: inline-block;
  background-color: var(--cor02);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  list-style-position: inside;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
  text-align: center;
}
div.conteudo > ul {
  list-style: none;
  padding-top: 30px;
}
h3 {
  text-align: center;
  color: var(--cor04);
  padding-top: 80px;
  font-size: 2em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
}
div.destaque {
  display: flex;
  justify-content: center;
}
div.aside {
  height: 100%;
  width: 400px;
  margin: 80px;
  padding: 30px;
  display: inline-block;
}
div.aside img {
  width: 100%;
  transition: 0.5s;
}
div.aside img:hover {
  transform: translate(-10px, -15px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.432);
}
div.aside img {
  border-radius: 10px 10px 0 0;
  width: 400px;
  height: 400px;
}
div.aside h1 {
  background-color: var(--cor02);
  text-align: center;
}
div.aside p {
  background-color: var(--cor02);
  text-align: center;
  border-radius: 0px 0 10px 10px;
  padding-bottom: 10px;
}
main {
  background-color: var(--cor05);
}
main h1 {
  text-align: center;
  line-height: 2em;
}
main h2 {
  text-align: center;
  padding: 10px;
}
main > p {
  text-align: justify;
  padding: 10px;
}
div.footer-1 {
  background-color: var(--cor01);
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
div.footer-1 p {
  color: var(--cor05);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
}
div.footer-1 ul {
  list-style: none;
  line-height: 1.6em;
  color: var(--cor05);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
}
div.footer-1 h3 {
  color: white;
  line-height: 2em;
  text-align: left;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
}
div.footer-content a {
  text-decoration: none;
  color: var(--cor05);
}
div.footer-content a:hover {
  color: var(--cor04);
}
footer {
  background-color: var(--cor01);
  padding: 20px;
  color: var(--cor05);
}
footer p {
  text-align: center;
}
@media (max-width: 767px) {
  div.footer-1 {
    display: block;
    text-align: center;
  }
  div.footer-1 h3 {
    text-align: center;
  }
  div.destaque {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  body {
    width: 100%;
  }
  div.aside {
    width: 300px;
  }
  div.aside img {
    width: 100%;
    transition: 0.5s;
  }
  div.aside img:hover {
    transform: translate(-10px, -15px);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.432);
  }
  div.conteudo {
    width: auto;
  }
  h3 {
    padding: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  div.aside {
    margin: 30px;
  }
}
@media (min-width: 1024px) {
  div.aside {
    margin: auto;
  }
}